nav {
  min-width: 500px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
}

nav li {
  margin: auto;
  list-style: none;
}

/*Styled navigation links*/
nav a {
  color: var(--light-blue);
  font-weight: var(--font-weight);
  text-decoration: var(--text-decoration);
  border-bottom: solid var(--light-blue);
  width: fit-content;
}

/*Navigation links glow when hovered over*/
nav a:hover {
  color: white;
  text-shadow: #fc0 1px 0 10px;
}

footer {
  background-color: var(--dark-blue);
  width: 100%;
  padding: 5px;
  position: fixed;
  bottom: 0;
}

footer h4 {
  text-align: center;
  color: var(--light-blue);
  font-style: italic;
}

.logo {
  height: 40px;
  padding: 5px;
}

.logoDiv {
  margin-left: 45%;
}

.logo:hover {
  filter: brightness(60%);
}

.aboutme-text {
  font-size: 14px;
  padding: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}

/*Images in work section*/
.work-images {
  flex-wrap: wrap;
  padding-left: 20px;
  border-left: solid var(--dark-blue);
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.card {
  height: 150px;
  border: solid var(--light-blue);
  margin-bottom: 20px;
  display: flex;
  opacity: .6;
  width: 100%;
}

/*Size modifications for surf report image*/
.surf-image {
  width: 100%;
}

#card-surf {
  margin-bottom: 20px;
  height: 300px;
}

/*Size modifications for LED Wall and Pastel Puzzel images*/
.left-images {
  width: 50%;
}

/*Size modifications for Calculator and Run Buddy images*/
.right-images {
  padding-left: 20px;
  width: 50%;
}

/*When mouse hovers over images in work section, the opacity goes from .6 to 1*/
.card:hover {
  opacity: 1;
}

.small-fontsize {
  font-size: 11px;
}

#surf-text {
  bottom: 110px;
  position: absolute;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}

#led-text {
  bottom: -60px;
  position: absolute;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}

#puzzles-text {
  bottom: -230px;
  position: absolute;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}

#calculator-text {
  bottom: -60px;
  position: absolute;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}

#run-text {
  bottom: -230px;
  position: absolute;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}