nav {
  min-width: 500px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
}

nav li {
  margin: auto;
  list-style: none;
}

/*Styled navigation links*/
nav a {
  color: var(--light-blue);
  font-weight: var(--font-weight);
  text-decoration: var(--text-decoration);
  border-bottom: solid var(--light-blue);
  width: fit-content;
}

/*Navigation links glow when hovered over*/
nav a:hover {
  color: white;
  text-shadow: #fc0 1px 0 10px;
}

footer {
  background-color: var(--dark-blue);
  /* height: 80px;
  padding: 10px; */
}

footer h4 {
  text-align: center;
  color: var(--light-blue);
  font-style: italic;
}

.logo {
  height: 60px;
  padding: 10px;
}

.logoDiv {
  margin-left: 43%;
}

.logo:hover {
  filter: brightness(60%);
}

.aboutme-text {
  font-size: 14px;
  padding: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}
/* try to get footer to stay at the bottom of the page without moving */