nav {
  min-width: 500px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;
}

nav li {
  margin: auto;
  list-style: none;
}

/*Styled navigation links*/
nav a {
  color: var(--light-blue);
  font-weight: var(--font-weight);
  text-decoration: var(--text-decoration);
  border-bottom: solid var(--light-blue);
  width: fit-content;
}

/*Navigation links glow when hovered over*/
nav a:hover {
  color: white;
  text-shadow: #fc0 1px 0 10px;
}

footer {
  background-color: var(--dark-blue);
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer h4 {
  text-align: center;
  color: var(--light-blue);
  font-style: italic;
}

.logo {
  height: 40px;
  padding: 5px;
}

.logoDiv {
  margin-left: 45%;
}

.logo:hover {
  filter: brightness(60%);
}

.aboutme-text {
  font-size: 14px;
  padding: 20px;
  margin-bottom: 30px;
  line-height: 1.5;
}

/*Images in work section*/
.project-section {
  padding: 20px;
}

.project-container {
  display: grid;
  grid-template-columns: auto auto;
}

.project-img {
  border: solid var(--light-blue);
  opacity: .6;
  margin-bottom: 40px;
  height: 350px;
  width: 590px;
}

/*Size modifications for surf report image*/

/*When mouse hovers over images in work section, the opacity goes from .6 to 1*/
.project-img:hover {
  opacity: 1;
}

.small-fontsize {
  font-size: 11px;
}

.project-textbox {
  height: 50px;
  width: fit-content;
  background-color: var(--light-blue);
  padding: 10px;
}

/*When screen shrinks to 1200px the following will apply for readability and spacing*/
@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
    flex-wrap: wrap;
  }
  h1 {
  text-align: center;
  color: var(--dark-blue);
  }
  .work-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
  .project-container {
    padding: 5px;
  }
  .gigpub-textspacing {
    display: none;
  }
  .puzzle-calc-textspacing {
    display: none;
  } 
  .runbuddy-textspacing {
    display: none;
  }
}

/*When screen shrinks to 625px the following will apply for readability and spacing*/
@media screen and (max-width: 625px) {
  html {
    display: grid;
  }
  .project-img {
    height: 300px;
    width: 470px;
  }
}
