:root {
  --dark-blue: rgb(17, 40, 82);
  --light-blue: rgb(39, 190, 236);
  --font-weight: bold; 
  --text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

/*Header with dark blue background and space between h1 element and navigation so they're on opposite sides of the page.*/
header {
  display: flex;
  background-color: var(--dark-blue);
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  }

h1 {
  background-color: var(--light-blue);
  font-size: 40px;
  padding-left: 30px;
  padding-top: 10px;
}

.container {
  position: relative;
}

.main-background {
  height: 290px;
  width: 100%;
}

/*Selfie image is sized and positioned infront of main background*/
.selfie-image {
  position: absolute;
  display: flex;
  top: 40px;
  right: 60px;
  width: 203px;
}

/*Text infront or below selfie photo*/
.background-text {
  position: absolute;
  background-color: var(--light-blue);
  top: 240px;
  right: 60px;
  padding: 10px 25px 10px 25px;
  font-weight: var(--font-weight);
  font-size: 20px;
  font-style: italic;
}

section {
  display: flex;
}